<!DOCTYPE html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="/static/app.js"></script>
</head>
<body ng-app="myApp">
  <div ng-controller="myController">
       <ul>
            <li ng-repeat="cliente in clientes"> {{cliente.nome}}
            <p>{{cliente.conta}}</p>
            </li>
       </ul>
       {{clientes.one.nome}}
    </div>
  <!-- <div class="container-fluid"> <div class="row"> <div class="col-md-2">
       Search: <input ng-model="query"> </div> <div class="col-md-10">
    </div> -->
</body>
</html>
