<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>AEN | Store </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.3/angular-route.min.js" integrity="sha512-y1qD3hz/IAf8W4+/UMLZ+CN6LIoUGi7srWJ3r1R17Hid8x0yXe+1B5ZelkaL1Mjzedzu0Cg3HBvDG02SAgSzBw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.8.3/angular-resource.min.js" integrity="sha512-+ymw+FkoDhPw+7/1DWVtASoICv7lwuvpkbVFqc4ASu1D385wKiLHu4ofOOxhpTlWoza/yIivwwteembPbeBuMg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="static/app.module.js"></script>
    <script src="static/app.config.js"></script>
    <script src="static/phone-list.module.js"></script>
    <script src="static/phone-list.component.js"></script>
<!--   <script src="static/phone-img.module.js"></script>
    <script src="static/phone-img.component.js"></script> -->
<style>
#error{
color:red
}
#success{
color:blue
}
.action{
text-decoration: underline; cursor:pointer;
}
span{
border-right:1px solid #ccc;padding:10px;
}
</style>
</head>
	
<body>

<div ng-controller="MessageController">
<fieldset>
<legend>Mensagem</legend>
<form>
<div id="sucess" ng-bind="succesMsg"></div>
<div id="error" ng-bind="errorMsg"></div>
ID:<input type="number" ng-model="msg.messageId"/><br />
Texto:<input type="text" ng-model="msg.text"/><br />

<button ng-click="query()">Buscar</button>
<button ng-click="save()" ng-show="!msg.messageId">Salvar</button>
<button ng-click="update()" ng-show="msg.messageId">Atualizar</button>
<button ng-click="clear()">Limpar</button>
</form>
</fieldset>

	<h2>-Mensagens-</h2>
	<div ng-repeat='m in messages'>
<span>{{m.messageId}}</span>
<span>{{m.text}}</span>
<span ng-click="edit(m)" class="action" title="Editor {{m.messageId}} - {{m.text}}">Editor</span>
<span ng-click="remove(m, $index)" class="action" title="Remover {{m.messageId}} - {{m.text}}">Remover</span>
</div>
</div>

<script type="text/javascript">
var app=angular.module('myapp', ['ngResource']);
app.controller('MessageController', ['$scope', '$resource', 
   function ($scope, $resource){
var Messages'=$resource('/myApp/api/messages/:messageId', 
{messageId:"@messageId"},
{
   update:{
      method:'PUT',
      isArray:false
   }
}
);

$scope.messages=[];

$scope.error=function (error){
   $scope.succesMsg='';
   $scope.errorMsg="Error - Status "+error.status;
};

$scope.success=function (successMsg, message){
   $scope.msg=message;
   $scope.succesMsg=successMsg;
   $scope.errorMsg='';
};

$scope.clear=function (){
   $scope.msg={};
   $scope.successMsg='';
   $scope.errorMsg='';
};

$scope.query=function (){
   var params={};
   params['id']=$scope.msg.messageId;
   params['content']=$scope.msg.text;
   Messages.query(params, function (messages){
      $scope.messages=messages;
    },
    function (errorMsg){
       $scope.error(errorMsg);
    });
};

$scope.save=function (){
   Messages.save({}, angular.toJson($scope.msg), function (message){
      $scope.messages.push(message);
      $scope.success("Mensagem criada com sucesso", message);
   },
   function (errorMsg){
       $scope.error(errorMsg);
   });
};

$scope.update=function (){
   Messages.update({messageId: $scope.msg.messageId}, angular.toJson($scope.msg), function (message){
      $scope.success("Mensagem atualizada com sucesso", message);
   },
   function (errorMsg){
       $scope.error(errorMsg);
   });
};
$scope.remove=function (){
   Messages.remove({messageId:m.messageId}, angular.toJson(m), function (message){
      $scope.success("Mensagem excluida com sucesso", null);
      $scope.messages.splice(Index, 1);
   },
   function (errorMsg){
       $scope.error(errorMsg);
   });
};

$scope.edit=function (m){
   $scope.msg =m;
}

}]);
</script>
<!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/scripts.js"></script>
</body>
</html>
