body
{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}
#navbar {
background-color:transparent #35424a;
position: fixed;
top: 0;
width: 100%;
z-index:3;
font-weight:bold;
text-transform:uppercase;
transition: top 0.3s;
}
#navbar a {
float: left;
display: block;
color: white;
text-align: center;
padding: 15px;
text-decoration: none;
}
#navbar a:hover {
background-color: #ddd;
color: black;
font-weight:bold;
}
#navbar a.active{
background:#fff;
color:#333;
}
.shadow {
color: #fff;
/*font-size: 50px;*/
text-shadow: -1px 1px 0 #35424a, 1px 1px 0 #35424a, 1px -1px 0 #35424a, -1px -1px 0 #35424a;
}
footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#0679c9;
  text-align: center;
  border-top:#333333 3px solid;
}
#hide_content {
display: none;
}
#content {
display: none;
}
#hide_img {
display: none;
}
#images {
display: none;
}
#show_content {
display: block;
}
#show_images {
display: block;
}
.fakelink {
cursor:pointer;
text-decoration: none;
font-weight: bold;
color: #E03A3E;
}
/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#0679c9;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#0679c9 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}
/* Showcase */
#showcase{
  min-height:400px;
  text-align:center;
  color:#ffffff;
}
.case1 {
background:url('../img/showcase2.png') no-repeat;
}
.case2 {
background:url('../img/showcase3.png') no-repeat;
}
.case3 {
background:url('../img/showcase5.png') no-repeat;
}
#showcase, .case1, .case2, .case3{
background-position: center;
background-size: cover;
transition: top 1s;
} 
#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#0679c9;
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}
/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

/* Media Queries */
@media(max-width: 600px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}

#TOC { 
background:url("");
margin: 5%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); 
margin: 30px;
padding: 50px;
}

.TOCEntry { font-family: sans-serif; }

.TOCEntry a { text-decoration: none; }

.TOCLevel1 { font-size: 16pt; font-weight: bold; }

.TOCLevel2 { font-size: 12pt; margin-left: .5in; }

.TOCSectNum:after { content: " "; }
.TOCSectNum { display: none }

